html {
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    color: ivory;
}

form {
    display: flex;
    flex-direction: column;
}

#submit {
    background-color: mediumseagreen;
    border: 3px solid #1e5838;
    font-size: 1.2em;
}
#submit:active {
    box-shadow: #4b4b4b 0px 0px 5px inset;
    text-shadow: #636363 1px 0 10px;
}
#submit:hover {
    cursor: pointer;
}

.header {
    margin-bottom: 100px;
    color: ivory;
}

.board {
    display: none;
    margin-bottom: 3%;
    color: ivory;
}

.footer {
    display: none;
    width: 300px;
    justify-content: space-between;
}

.square {
    display: flex;
    height: 175px;
    width: 175px;
    border: 1px solid ivory;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

#a1,#b1,#c1 {
    border-top: none;
}
#a3,#b3,#c3 {
    border-bottom: none;
}
#a1,#a2,#a3 {
    border-left: none;
}
#c1,#c2,#c3 {
    border-right: none;
}

#player1Name {
    margin-bottom: 10%;
}
#player2Name {
    margin-bottom: 10%;
}

label {
    font-size: 1.2em;
}

button {
    font-size: 1.2em;
    font-weight: 900;
    padding: 10px;
}
button:hover {
    cursor: pointer;
}

.restart {
    background-color: dodgerblue;
}

.reset {
    background-color: rgb(255, 100, 44);
}